.Form {
    height: 350px;
    width: 25vw;
    margin: auto;
    background-color: rgb(102, 142, 181);
    color: aliceblue;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
    text-align: center;
}
.Form-title {
  color: aliceblue;
  text-align: center;
  font-size: 50px;
}